body{font-family:Arial;background-size:cover;}
header{text-align:center;}
.menu button, .bottom button{padding:15px;margin:5px;}
.card{border:1px solid #ccc;margin:5px;padding:10px;}
.secili{background:#bbdefb;}
.bottom{position:fixed;bottom:0;width:100%;}
