body,html {
  margin:0;
  padding:0;
  font-family:Arial;
}

#bgVideo {
  position:fixed;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
}

#app {
  background:rgba(0,0,0,0.6);
  color:white;
  min-height:100vh;
  padding:10px;
}

header {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.card {
  background:white;
  color:black;
  margin:10px 0;
  padding:10px;
  border-radius:10px;
}

.card img {
  width:48%;
  border-radius:10px;
}

.modal {
  display:none;
  position:fixed;
  top:0;left:0;
  width:100%;height:100%;
  background:rgba(0,0,0,0.8);
}

.modalContent {
  background:white;
  margin:50px;
  padding:20px;
  border-radius:10px;
}
