body { font-family: Arial; margin: 0; padding: 10px; }
header { background:#2196f3;color:white;padding:10px;text-align:center; }

.fab {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 70px;
  height: 70px;
  background: #2196f3;
  color: white;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
}

table { width:100%; border-collapse: collapse; }
td, th { border:1px solid #ccc; padding:5px; }
