body{
  margin:0;
  font-family:Arial;
  color:white;
  text-align:center;
}

#bgVideo{
  position:fixed;
  right:0;
  bottom:0;
  min-width:100%;
  min-height:100%;
  z-index:-1;
}

#app{
  background:rgba(0,0,0,0.6);
  padding:20px;
  min-height:100vh;
}

button{
  padding:10px;
  margin:5px;
  font-size:16px;
}

textarea{
  width:80%;
  height:100px;
}

.kart{
  background:#222;
  margin:10px;
  padding:10px;
  border-radius:10px;
}
