body{font-family:Arial;margin:0;padding:10px;}
header{background:#2196f3;color:white;padding:10px;text-align:center;}
a{display:block;padding:10px;border-bottom:1px solid #ddd;color:black;text-decoration:none;}
input,textarea,select,button{width:100%;margin:5px 0;padding:6px;}
table{width:100%;border-collapse:collapse;}
td,th{border:1px solid #ccc;padding:4px;}
.fab{position:fixed;right:20px;bottom:20px;
width:70px;height:70px;border-radius:50%;
background:#2196f3;color:white;
font-size:40px;text-align:center;line-height:70px;}
